<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mall.mng.serviceImpl.mngMapper">
	<select id="category" resultType="com.mall.vo.CategoryVO">
		select
			cateName, cateCode, cateCodeRef
		from goods_category
<!-- 	    	start with cateCodeRef is null connect by prior cateCode = cateCodeRef
 -->	</select>

	<insert id="register">
	<!-- <selectKey resultType="int" keyProperty="gdsNum" order="BEFORE">
		SELECT COALESCE(MAX(gdsNum),0)+1 AS gdsNum FROM tbl_goods
	</selectKey> -->
		insert into tbl_goods (
				gdsNum
				, gdsName
				, cateCode
				, gdsPrice
				, gdsStock
				, gdsDes
				, gdsImg
				, gdsThumbImg
			)
	   		values (
		   		#{gdsNum}
		   		, #{gdsName}
		   		, #{cateCode} 
		   		, #{gdsPrice}
		   		, #{gdsStock}
		   		, #{gdsDes}
		   		, #{gdsImg}
		   		, #{gdsThumbImg}
	   		)
	</insert>
	<select id="selectItemList" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
	<if test="PAGE_TYPE!='main'">
		<include refid="com.mall.common.commonMapper.pagingHeaderSql"/>
	</if>
 	SELECT @rownum:=@rownum+1 ROWNUM
	 	, B.gdsNum
	 	, B.gdsName
	 	, B.cateCode
	 	, B.gdsPrice
	 	, B.gdsStock
	 	, B.gdsDes
	 	, B.gdsImg
	 	, B.gdsThumbImg
	 	,(SELECT ORG_FILE_NAME FROM MP_FILE WHERE BNO=B.gdsNum) file
		,(SELECT FILE_PATH FROM MP_FILE WHERE BNO=B.gdsNum) file_src
		,(SELECT SEQ_MP_FILE_NO FROM MP_FILE WHERE BNO=B.gdsNum) file_no
		FROM tbl_goods B,(SELECT @rownum:=0) R
		where B.gdsNum>=0
<!-- 		<include refid="searchOption"/>
 -->		ORDER BY B.gdsNum DESC
 	<if test="PAGE_TYPE!='main'">
		<include refid="com.mall.common.commonMapper.pagingFooterSql"/>
	</if>
	</select>
	
	<select id="selectItemDetail" parameterType="map"
		resultType="map">
		SELECT @rownum:=@rownum+1 ROWNUM
	 	, B.gdsNum
	 	, B.gdsName
	 	, B.cateCode
	 	, B.gdsPrice
	 	, B.gdsStock
	 	, B.gdsDes
	 	, B.gdsImg
	 	, B.gdsThumbImg
	 	, MF.ORG_FILE_NAME file
	 	, MF.FILE_PATH file_src
	 	, MF.SEQ_MP_FILE_NO file_no
		FROM tbl_goods B,(SELECT @rownum:=0) R
		left outer join MP_FILE MF
		on MF.BNO=#{gdsNum}
		where B.gdsNum=#{gdsNum}
	</select>
	
	<select id="selectItemListMaxNo" parameterType="map"
		resultType="Integer">
			SELECT max(gdsNum) FROM tbl_goods
	</select>
	
</mapper>